.button {
  border-radius: 5px;
  background-color: #F7A072;
  color: #000;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 15px;
  border: 2px solid '#a1cdf1';
}
