.form {
  font-family: 'Poppins', sans-serif;
  top: 0px;
  position: absolute;
  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin-top: 11%;
  margin-left: 20%;
	width: 60%;
	min-height: 150px;
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 6px 6px 3px #ffa557;
  padding: 10px;
}

.form button {
  font-size: 15px;
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}
