.footer {
  border-style: solid;
  border-width: 2px;
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: #ffa557;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
}

.footer img {
  height: 25px;
  width: 25px;
  margin: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.footer a {
  float: left;
}

.designed {
  color: black;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  font-size: 13px;
}

/* .designed img {

} */



@import url('https://fonts.googleapis.com/css?family=Poppins')
