.recipe-show {
  font-family: 'Poppins', sans-serif;

  position: -webkit-sticky;
  position: sticky;
  top: 200px;

  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 5%;
	width: 100%;
	min-height: 790px;
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 10px 10px 5px #ffa557;
  padding: 20px;
}

.recipe-from-search {
  font-family: 'Poppins', sans-serif;
  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
	width: 50%;
	min-height: 790px;
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 10px 10px 5px #ffa557;
  padding: 20px;
}

.recipe-from-search button {
  margin-top: 3%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}
