.recipe-box-preview {
  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 5%;
	width: 60%;
  height: 30%;
	min-height: 200px;
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 7px 7px 3px #ffa557;
}

aside {
  position: relative;

  img {
    @include border-top-radius(5px);
    width: 100%
  }

  .button {
    font-family: 'Poppins', sans-serif;
    background: #57abf2;
    display: inline-block;
    position: absolute;
    top: 80%;
    right: 3%;
    text-align: center;

    .icon {
      vertical-align: middle;
    }
  }
}

article {

  ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    li {
      display: inline;
      float: left;
      margin-left: 1em;
      line-height: 1em;
      &:first-child {
        margin-left: 0;
      }

      .icon {
          vertical-align: bottom;
      }
    }
  }

  h2 {
    font-size: 20px;
    color: #222222;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 10px;
    color: #222222;

    span {
      font-weight: bold;
      color: #000000;
    }
  }

  .ingredients {
    margin: 2em 0 0.5em;
  }

}

.icon {
    display: inline;
    display: inline-block;
    background-repeat: no-repeat;
}

.iconboolean {
height: 55px;
width: 55px;
}

@media {
.card-flex-item {
  width: 33.33%;
  padding-right: 10px;
}

.card-flex-image img {
  opacity: 1;
}
.card-flex-wrapper:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card-flex-wrapper:hover .card-flex-image img {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(.43,.41,.22,.91);
}
.card-flex-wrapper:hover .card-flex-button {
  background-color: white;
}
}

.recipe-icons {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
