.recipe-show {
  font-family: 'Poppins', sans-serif;

  position: -webkit-sticky;
  position: sticky;
  top: 0px;

  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 2%;
	width: 90;
	min-height: 200px;
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 6px 6px 3px #ffa557;
}

.recipe-from-search {
  font-family: 'Poppins', sans-serif;
  background: #fff;
	font-family: 'Poppins', sans-serif;
	margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
	width: 35%;
  height: auto;
	/* min-height: 790px; */
	border-style: solid;
	border-color: #E8E8E8;
	border-width: 1px;
  box-shadow: 10px 10px 5px #ffa557;
  padding: 20px;
}

.recipe-from-search button {
  font-size: 15px;
  margin-top: 3%;
  margin-left: 37%;
  margin-right: 35%;
  width: 30%;
}

.recipe-from-search h1 {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
