.search {
  /* border-style: solid;
  border-width: 2px; */
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  box-shadow: 10px 10px #ffa557;
  height: 80px;
  margin: 3% 40% 0 40%;
}

.search input {
  height: 100%;
  width: 100%
}

input[type='text'] {
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
