.search-container {
  /* border-style: solid;
  border-width: 2px; */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 9%
}

.seached-recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  padding: 45px;
}
