.user-info {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin-top: 18%;
}

.user-info p {
  border-style: solid;
  border-width: 3px;
  border-color: #E8E8E8;
  box-shadow: 8px 8px #ffa557;
  text-align: center;
}

.user-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #ffa557;
}

.details {
  margin: 0 20% 0 20%;
}
